@use 'src/styles/vars';

.projects {

  &__headband {
    background: vars.$mainColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 3rem;
    overflow: hidden;

    &--cloud {
      position: absolute;

      &.cloud1 {
        width: 200px;
        top: 0;
        left: -200px;
        animation: 110s linear 1s infinite cloud1;
      }

      @keyframes cloud1 {
        from {
          left: -200px;
        }

        to {
          left: 100vw;
        }
      }

      &.cloud2 {
        width: 300px;
        top: 150px;
        left: -300px;
        animation: 150s linear 1s infinite cloud2;
      }

      @keyframes cloud2 {
        from {
          left: -400px;
        }

        to {
          left: 100vw;
        }
      }

      &.cloud3 {
        width: 150px;
        top: 80px;
        left: -600px;
        animation: 90s linear 1s infinite cloud3;
      }

      @keyframes cloud3 {
        from {
          left: -600px;
        }

        to {
          left: 100vw;
        }
      }

      &.cloud7 {
        width: 50px;
        top: 70px;
        left: -70px;
        animation: 50s linear 1s infinite cloud7;
      }

      @keyframes cloud7 {
        from {
          left: -70px;
        }

        to {
          left: 100vw;
        }
      }
    }

    &--title {
      font-size: 6rem;
      -webkit-text-stroke: 4px vars.$altColor;
      color: transparent;
      z-index: 2;
      margin: .5rem 0;
    }

    &--subtitle {
      color: vars.$altColor;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      margin: .5rem 0 1rem 0;
      z-index: 2;

      &::before {
        content: '// ';
      }
    }
  }

  &__card {
    background: vars.$altColor;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0;

    &--project {
      background: vars.$lightColor;
      border-radius: 7px;
      padding: 2rem;
      margin: 1.5rem 0;
      width: 400px;
      max-width: 400px;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        transform: translateY(-10px);
      }

      h1 {
        color: vars.$altColor;
        text-transform: uppercase;
      }

      p {
        color: vars.$altColor;
        margin: .5rem 0;
      }

      &--languages {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;

        .icon {
          font-size: 1.5rem;
          margin-right: 1rem;

          &:last-child {
            margin: 0;
          }
        }
  
        .javascript {
          color: vars.$javascript;
        }
  
        .react {
          color: vars.$react;
        }
  
        .redux {
          color: vars.$redux;
        }
  
        .scss {
          color: vars.$scss;
        }
      }

      &--share {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      a {
        color: vars.$altColor;
        font-size: 1.5rem;

        &:hover {
          color: vars.$altColorHover;
        }
      }
    }
  }

  &__footer {
    background: #36414f;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--copyright {
      display: flex;
      align-items: center;
      margin: 1rem 0;

      img {
        width: 50px;
        margin-right: .5rem;
      }

      p {
        color: vars.$mainColor;
        font-weight: bold;
        cursor: default;
      }
    }

    &--reseaux {
      display: flex;
      align-items: center;

      li {
        margin-right: 1rem;

        &:hover {
          transform: scale(0.9);
        }

        a {
          font-size: 1.5rem;
          color: vars.$lightColor;

          &:hover {
            color: vars.$lightColorHover;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .projects__headband--title {
    font-size: 4rem;
    -webkit-text-stroke: 3px vars.$altColor;
  }
}

@media (max-width: 425px) {
  .projects__card {
    padding: 2rem;
  }
}
