@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&family=Quicksand&display=swap');

*, body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
