@use 'src/styles/vars';

.cv {
  &__headband {
    background: vars.$mainColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 3rem;
    overflow: hidden;

    &--cloud {
      position: absolute;

      &.cloud1 {
        width: 200px;
        top: 0;
        left: -200px;
        animation: 110s linear 1s infinite cloud1;
      }
      @keyframes cloud1 { from { left: -200px; } to { left: 100vw; }  }
  
      &.cloud2 {
        width: 300px;
        top: 150px;
        left: -300px;
        animation: 150s linear 1s infinite cloud2;
      }
      @keyframes cloud2 { from { left: -400px; } to { left: 100vw; }  }
  
      &.cloud3 {
        width: 150px;
        top: 80px;
        left: -600px;
        animation: 90s linear 1s infinite cloud3;
      }
      @keyframes cloud3 { from { left: -600px; } to { left: 100vw; }  }

      &.cloud7 {
        width: 50px;
        top: 70px;
        left: -70px;
        animation: 50s linear 1s infinite cloud7;
      }
      @keyframes cloud7 { from { left: -70px; } to { left: 100vw; }  }
    }

    &--title {
      font-size: 6rem;
      -webkit-text-stroke: 4px vars.$altColor;
      color: transparent;
      z-index: 2;
      margin: .5rem 0;
    }
  }

  &__container {
    background: vars.$altColor;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;

    h2 {
      margin: 4rem 0;
      font-size: 2rem;
      color: #c0daff;
      display: flex;
      align-items: center;
      margin-right: 1rem;

      a {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        margin-left: .5rem;

        &:hover {
          color: vars.$lightColor;
        }
      }
    }

    img {
      width: 70%;
      border-radius: 7px;
      margin: 0 auto;
    }
  }

  &__footer {
    background: #36414f;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--copyright {
      display: flex;
      align-items: center;
      margin: 1rem 0;
  
      img {
        width: 50px;
        margin-right: .5rem;
      }
  
      p {
        color: vars.$mainColor;
        font-weight: bold;
        cursor: default;
      }
    }
  
    &--reseaux {
      display: flex;
      align-items: center;
  
      li {
        margin-right: 1rem;
  
        &:hover {
          transform: scale(0.9);
        }
  
        a {
          font-size: 1.5rem;
          color: vars.$lightColor;
  
          &:hover {
            color: vars.$lightColorHover;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .cv__container img {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .cv__container h2 {
    font-size: 1.5rem;
    flex-direction: column;
  }
  .cv__headband--title {
    font-size: 4rem;
    -webkit-text-stroke: 3px vars.$altColor;
  }
}

@media (max-width: 430px) {
  .cv__container h2 a {
    font-size: .9rem;
  }
}
