@use 'src/styles/vars';

.home {
  background: vars.$mainColor;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  align-items: stretch;
  padding: 4rem;
  overflow: hidden;

  &__cloud{
    position: absolute;

    &.cloud1 {
      width: 200px;
      top: 0;
      left: -200px;
      animation: 110s linear 1s infinite cloud1;
    }
    @keyframes cloud1 { from { left: -200px; } to { left: 100vw; }  }

    &.cloud2 {
      width: 400px;
      top: 50px;
      left: -400px;
      animation: 190s linear 1s infinite cloud2;
    }
    @keyframes cloud2 { from { left: -400px; } to { left: 100vw; }  }

    &.cloud3 {
      width: 150px;
      top: 300px;
      left: -600px;
      animation: 90s linear 1s infinite cloud3;
    }
    @keyframes cloud3 { from { left: -600px; } to { left: 100vw; }  }

    
    &.cloud4 {
      width: 100px;
      top: 250px;
      left: -800px;
      animation: 70s linear 1s infinite cloud4;
    }
    @keyframes cloud4 { from { left: -800px; } to { left: 100vw; }  }
    
    &.cloud5 {
      width: 200px;
      bottom: 150px;
      left: -1000px;
      animation: 110s linear 1s infinite cloud5;
    }
    @keyframes cloud5 { from { left: -1000px; } to { left: 100vw; }  }

    &.cloud6 {
      width: 500px;
      bottom: 100px;
      left: -1200px;
      animation: 230s linear 1s infinite cloud6;
    }
    @keyframes cloud6 { from { left: -1200px; } to { left: 100vw; }  }

    &.cloud7 {
      width: 50px;
      bottom: 250px;
      left: -50px;
      animation: 50s linear 1s infinite cloud7;
    }
    @keyframes cloud7 { from { left: -50px; } to { left: 100vw; }  }
  }

  &__profil {
    z-index: 2;

    &--title {
      font-size: 6rem;
      color: transparent;
      -webkit-text-stroke: 4px vars.$altColor;
    }

    &--subtitle {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: vars.$altColor;
    }

    &--reseaux {
      display: flex;
      align-items: center;

      li {
        margin-right: 1rem;

        &:hover {
          transform: scale(0.9);
        }

        a {
          font-size: 1.5rem;
          color: vars.$altColor;

          &:hover {
            color: vars.$altColorHover;
          }
        }
      }
    }

    &--buttons {
      margin: 2rem 0;

      &--button {
        padding: .5rem 1rem;
        border: 2px solid vars.$altColor;
        border-radius: 7px;
        background: transparent;
        color: vars.$altColor;
        margin-right: 1rem;
        box-shadow: inset 0 0 0 0 vars.$altColor;
        transition: ease-in .5s;
        
        &:hover {
        box-shadow: inset 150px 0 0 0 vars.$altColor;
        color: vars.$lightColor;
        }
      }
    }
  }

  &__men {
    z-index: 2;
    padding-bottom: 2rem;
  }

  &__wave {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 1110px) {
  .home {
    padding: 4rem 4rem 0 4rem;
  }
}

@media (max-width: 560px) {
  .home__profil--title {
    font-size: 4rem;
    -webkit-text-stroke: 3px vars.$altColor;
  }
  
  .home__profil--subtitle {
    font-size: 1.2rem;
  }

  .home__men {
    width: 300px;
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .home__profil--title {
    font-size: 3.5rem;
    -webkit-text-stroke: 2.5px vars.$altColor;
  }

  .home__profil--subtitle {
    font-size: 1rem;
  }

  .home__men {
    width: 250px;
  }
}
